.marquee {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;

  z-index: 100;
  width: 130vw;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  height: 53px;
  background-color: var(--yellow-ribbon-color);
  top: 50%;
}

@media screen and (min-width: 1440px) {
  .marquee {
    height: 80px;
  }
}
.track {
  display: flex;
  align-items: center;
  width: 6000px;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-content {
  display: flex;
  gap: 10px;
}

.marquee-centered {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding-left: -10px;
  padding-right: -10px;
  overflow: hidden;
  height: 337px;
  z-index: 0;
}
.marquee-rotate-right {
  top: 150px;
  transform: rotate(-10deg);
}
.marquee-rotate-left {
  top: 150px;
  transform: rotate(10deg);
}
@media screen and (min-width: 1440px) {
  .marquee-centered {
    height: 369px;
  }
  .marquee-rotate-right {
    top: 120px;
    transform: rotate(-6.39deg);
  }
  .marquee-rotate-left {
    top: 120px;
    transform: rotate(6.39deg);
  }
}
