.footer__inner {
  position: relative;
  padding: 48px 0px 24px 0px;
}

.footer__tittle {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.main__tittle-text {
  font-size: 36px;
  line-height: 140%;
  color: var(--white-text-color);
  font-family: var(--tittle-font);
}

.secondary__tittle-text {
  font-size: 24px;
  line-height: 140%;
  color: var(--white-text-color);
  text-align: center;
}

.footer__tittle-input {
  width: 350px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid var(--white-dark-bg-color);
  color: var(--white-text-color);
  padding: 20px 15px;
  font-size: 16px;
  line-height: 20%;
}

.footer__tittle-input::placeholder {
  color: var(--white-text-color);
}

.footer__tittle-btn {
  display: block;
  width: 350px;
  border-radius: 16px;
  background: var(--white-dark-bg-color);
  color: var(--black-text-color);
  outline: none;
  border: none;
  padding: 20px 0px;
  font-size: 16px;
  letter-spacing: 1%;
  line-height: 150%;
}

@media screen and (max-width: 1439px) {
  .footer__tittle-btn {
    margin-bottom: 40px;
  }
}
