.search {
    position: relative;
}

.search button {
    background: transparent;
    border: none;
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 13px;
}

.search__icon.fixed {
    filter: invert(100%) sepia(1%) saturate(5805%) hue-rotate(184deg) brightness(116%) contrast(83%);
}

.search__input {
    width: 185px;
    height: 45px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    line-height: 20;
    padding: 0px 35px;
    outline: none;
}

.search__input.fixed {
    border: 1px solid var(--white-text-color);
    color: var(--white-text-color)
}