.button__buy {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--black-bg-color);
    color: var(--white-text-color);
    padding: 16px 0px;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;
}

.button__buy:hover {
    background-color: var(--grey-bg-color);
}