.header.fixed {
  background-color: var(--black-bg-color);
  color: var(--white-text-color);
}

.header {
  background-color: var(--white-bg-header-color);
  border-radius: 0px 0px 36px 36px;
  width: 100%;
  position: fixed;
  height: 72px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.header__inner {
  width: 100%;
  /* padding: 23px 24px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__icon {
  width: 128px;
  height: 24px;
}

@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 189px;
    height: 31px;
  }
  .header__inner {
    padding: 15px 0px;
  }
  .header {
    height: 78px;
  }
}

.logo__icon.fixed {
  filter: invert(100%) sepia(1%) saturate(5805%) hue-rotate(184deg)
    brightness(116%) contrast(83%);
}
