.main_container {
height:643px ;

  /*width: 100%;*/
  width: 1370px;

  /* margin-left: 30%; */
  display: flex;
  align-items: center;

}

.window {

width: 100%;
  max-width: 100%;






  height: 100%;
  overflow: hidden;
}

.all_pages_container {
  /*height: 100%;*/
  height: 500px;
  width: 100%;
  max-width: 1364px;
  display: flex;


  /*flex-direction: row;*/

  transition: translate;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
  margin-right: 17px;
}
.arrow_r {
  cursor: pointer;
  margin-left: 22px;
}

.indexContainer {
  display: flex;
  justify-content: center;
}

.indexBox {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

/*@media (max-width: 768px) {*/
/*   .all_pages_container {*/
/*    width: 40%;*/
/*  }*/

/*@media (max-width: 768px) {*/
/*  .main_container {*/
/*    width: 60%;*/
/*  }*/

