.sort-select {
  border: none;
  outline: none;
  width: 180px;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  /* visibility: hidden; */
  /* position: absolute; */
  right: 0;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

option.optionSelect {
  /* opacity: 0; */
  /* visibility: hidden; */
  /* display: none; */
}

.select-menu-wrapper {
  position: absolute;
  z-index: 10;
  opacity: 1;
  width: 180px;
  background-color: white;
  border: 1px solid var(--black-bg-color);
  padding: 9px 12px;
  border-radius: 16px;
  bottom: -100px;
  right: 0;
}
.select-menu-wrapper ul > li {
  border-bottom: 1px solid var(--black-bg-color);
  padding-bottom: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  cursor: pointer;
}
.select-menu-wrapper ul > li:hover {
  color: var(--grey-text-color);
}
.select-menu-wrapper > ul > li:not(:first-child) {
  padding-top: 4px;
}

.sort-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;

  cursor: pointer;
}
.sort-result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 20px;
}
.sort-result-item svg:only-child {
  margin: 0;
  padding: 0;
  stroke-width: 0.5;
}
