.footer__glass-info {
  padding: 24px 0px 52px 0px;
  text-align: start;
}

@media screen and (min-width: 1439px) {
  .footer__glass-info {
    padding: 48px 0px 120px 0px;
  }
}

.footer__navbar-list {
  display: flex;
  justify-content: space-between;
  color: var(--white-text-color);
  font-size: 20px;
  font-family: "Roboto";
  line-height: 28px;
  letter-spacing: 0em;
}

.footer__navbar-item li {
  margin-bottom: 20px;
  justify-content: space-between;
}

.footer__navbar-item a:hover {
  color: var(--grey-link-hover-footer-color);
}

.social__media-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social__media-list-mobile {
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: start;
  cursor: pointer;
}

.social__media-list a:hover {
  filter: invert(0%) sepia(50%) saturate(7494%) hue-rotate(200deg) brightness(127%) contrast(99%);
  cursor: pointer;
}

.list__item__left {
  text-align: start;
}