.input_container {
    position: relative;
    margin-bottom: 26px;
    width: 460px;
}

.input_container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    font-size: 18px;
    color: black;

}

.input_container label {
    display: block;
    padding: 0 400px 6px 6px;
    font-size: 16px;
    color: black;
}

.input_container span {
    display: block;
    position: absolute;
    top: 100%;
    padding-left: 6px;
    font-size: 16px;
    color: red;
}