.favorite__button {
    position: absolute;
    margin-left: -46px;
    margin-top: 10px;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50%;
    padding: 3px 0px 0px 0px;
    cursor: pointer;
    background-color: var(--white-bg-color-favorite-btn);
}

.favorite__button.sale {
    margin-top: 30px;
}

.buttonImg:hover {
    filter: invert(29%) sepia(75%) saturate(6832%) hue-rotate(352deg) brightness(90%) contrast(106%);
}