@import-normalize;

@font-face {
  font-family: "Strong";
  src: url("../fonts/Strong-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beware";
  src: url("../fonts/Beware.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white-text-color: #e9e9e9;
  --white-dark-bg-color: #e3e3e3;
  --white-light-bg-color: #fbfbfb;
  --white-blue-bg-color: #eaeff0;
  --white-bg-header-color: #e8e5e5;
  --white-bg-color-favorite-btn: #ffffff;
  --black-text-color: #232323;
  --black-bg-color: #292929;
  --grey-text-color: #7a7c7f;
  --grey-bg-color: #444444;
  --grey-filter-btn-color: #dfdfdf;
  --grey-link-hover-footer-color: #ada9a9;
  --footer-glass-bg-color: rgba(217, 217, 217, 0.05);
  --blue-bg-color: #495c80;
  --red-color: #ed2424;
  --yellow-color: #f5ed1d;

  --tittle-font: "Strong", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: roboto;
  color: var(--black-text-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    min-width: 375px;
    max-width: 1440px;
    padding: 0 120px;
    /* padding???? */
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
  }
}

.main {
  flex: 1 1 auto;
}
.rotateIcon {
  transform: rotate(180deg);
}

/* label {
  position: relative;
  left: 10px;
}
label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid red;
  position: absolute;
  left: -20px;
} */
