/* .modal_auth {
  position: absolute;

  width: 780px;
  height: 804px;
  border-radius: 36px;
  background-color: #f2f2f2;

  margin-right: -380px;
  margin-top: 114px;
  right: 50%;
  top: 130px;

  overflow: auto;
  z-index: 3;
}

.modal_auth_on {
  position: absolute;
  top: 130px;
  width: 780px;
  height: 1041px;
  border-radius: 36px;
  background-color: #f2f2f2;
  margin-right: -380px;
  margin-top: 114px;
  right: 50%;

  z-index: 3;
}

.modal_auth_text {
  width: 451px;
  height: 64px;
  display: flex;
  margin-top: -120px;

  padding-top: 68px;
  padding-left: 186px;
}
.modal_auth_text_auth {
  padding-left: 135px;
  font-size: 43px;
  font-weight: lighter;
  cursor: pointer;
}
.modal_auth_text_entrance {
  font-size: 43px;
  cursor: pointer;

  font-weight: lighter;
}
.modal_auth_text_line {
  width: 460px;
  height: 1px;
  background-color: black;
  margin-top: 60px;
  margin-left: 170px;
}
.modal_auth_close {
  margin-top: 58px;
  margin-left: 684px;
  margin-right: 48px;
  cursor: pointer;
}

.button_modal {
  margin-left: 164px;
  width: 460px;
  height: 62px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
}

.button_modal:hover {
  background-color: var(--white-dark-bg-color);
  color: black;
}
.modal_auth_text_auth_password {
  color: black;
  border-bottom: 1px black solid;
  width: 130px;
  margin-left: 477px;
}
.modal_auth_text2 {
  float: left;
  margin-left: 213px;
  margin-top: -76px;
}
.modal_auth_text3 {
  margin-top: -76px;
  border-bottom: 1px black solid;
  width: 130px;
  margin-left: 427px;
  cursor: pointer;
}

.modal_auth_text4 {
  position: relative;
  bottom: 195px;
  left: 65px;
  margin-top: 36px;
  border-bottom: 1px black solid;
  width: 130px;
  margin-left: 427px;
  cursor: pointer;
}

.modal_auth_container {
  margin-left: 50px;
  float: left;
  margin-top: 46px;
}

.modal_container_line_text {
  margin-left: 333px;
  margin-top: -10px;
}

.modal_auth_container_line {
  height: 1px;
  background-color: black;
  margin-right: 150px;
  width: 250px;
  margin-left: 40px;
}

.modal_auth_container_line1 {
  position: relative;
  left: 400px;
  width: 250px;
  height: 1px;
  background-color: black;
  bottom: 9px;
}

.modal_auth_container_social {
  display: flex;

  width: 192px;
  height: 80px;
  margin-left: 323px;

  margin-top: 96px;
}
.modal_auth_container_social img {
  cursor: pointer;
} */
