/* .banner {
    width: 100%;
    height: 590px;
    border-radius: 36px;
    background-image: url("../../../public/image/Rectangle 17515.png");
    background-size: 100%;
    margin-top: 120px;
}
.banner_ban {
    width: 996px;
    height: 140px;
    margin-left: 220px;
    margin-top: 176px;


    /*display: flex;*/
    /*justify-content: flex-start;*/
/* } */ */

/* .banner h1 {
    font-size: 75px;
    font-weight: normal;
    padding-top: 176px;
} */

/* .banner_1 { */


/* }
.banner_2 {
    font-size:75px;
    font-weight: normal;
    position: relative;
    right: 70px;
}

.banner_btn {
    margin-top: 36px;
    margin-left: 223px;
} */