.swiper-container {
  width: 300px;
  height: 480px;
  overflow: hidden;
}
.swiper-slide {
  width: 152px;
}
@media screen and (min-width: 375px) {
  .swiper-container {
    width: 327px;
    height: 416px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container {
    width: 1200px;
    height: 486px;
  }
}

.swiper-navigation {
  /* height: 64px; */
  /* width: 100%; */

  bottom: 0px;
  z-index: 200;
}

.swiper-pagination {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  position: absolute !important;
  z-index: 15;
  bottom: -20px;
}

@media screen and (min-width: 1440px) {
  .swiper-pagination {
    bottom: -48px !important;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--grey-text-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--black-bg-color);
  width: 24px;
  height: 12px;
  border-radius: 12px;
}
