.swiper-wrapper {
  height: 501px;
  --swiper-pagination-bottom: 26px;
}

@media screen and (min-width: 1440px) {
  .swiper-slide {
    /* max-width: 340px;
    margin-right: 89px; */
    /* height: 486px; */
  }
  .swiper-wrapper {
    height: 486px;
    --swiper-pagination-bottom: 0;
  }
}
.swiper-pagination {
  position: relative;
  border: 1px solid blue;
  height: 64px;
  width: 100%;
  bottom: 0px;
}
.swiper-pagination-bullets {
  background-color: red;
  width: 10px;
  height: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 26px;
}