.footer__glass {
  position: relative;
  background: var(--footer-glass-bg-color);
  backdrop-filter: blur(30px);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding: 24px;
}

.footer__glass_inner {
  padding: 30px 0px 0px 0px;
}

.footer__glass_logo {
  text-align: start;
}
